*{
  padding:0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
li{
  list-style: none;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix:after{
  content: '';
  clear: both;
  display: inline-block;
}
